<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKEZONE Registration</title>
</head>

<body style="background-color: #f3f4f6; font-family: Arial, sans-serif;">
    <table cellpadding="0" cellspacing="0" width="100%"
        style="background-color: #ffffff; max-width: 600px; margin: 0 auto;">
        <tr>
            <td align="center" style="padding: 20px;">
                <h1 style="font-size: 24px; font-weight: bold; color: #333333;">Welcome to <span
                        style="color: #3f83f8;">BIKEZONE</span></h1>
                <p style="font-size: 16px; color: #555555;">Your OTP Verification code <span
                        style="font-weight: bold; color: #3f83f8;">{{message}}</span>!</p>
            </td>
        </tr>

    </table>
</body>

</html>