<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKEZONE Registration</title>
</head>

<body style="background-color: #f3f4f6; font-family: Arial, sans-serif;">
    <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff; max-width: 600px; margin: 0 auto;">
        <tr>
            <td align="center" style="padding: 20px;">
                <h1 style="font-size: 24px; font-weight: bold; color: #333333;">Welcome to <span style="color: #3f83f8;">BIKEZONE</span></h1>
                <p style="font-size: 16px; color: #555555;">Thank you for joining <span style="font-weight: bold; color: #3f83f8;">{{firstname}} {{lastname}}</span>!</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px;">
                <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #e6e8ec; padding: 20px; border-radius: 5px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                    <tr>
                        <td align="center">
                            <p style="font-weight: bold; color: #3f83f8; font-size: 18px;">Your journey begins now.</p>
                            <p style="font-size: 14px; color: #3f83f8;">Explore our latest bikes and accessories.</p>
                            <a href="https://www.facebook.com/profile.php?id=100080794895646" style="display: inline-block; text-decoration: none; color: #3f83f8; font-weight: bold; margin-top: 10px;">Visit Our Website</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
